:root {
    --primary-color: rgb(32, 31, 31);
    --primary-color-highlight: #ff9a55;
    --bs-font-family: "Montserrat", sans-serif;

  }
  html{
     scroll-behavior: smooth;
  }
  .custom_btn{
  display: inline-block;
  background-color: #ff9a55;
  color: white;
  padding: 5px 10px;
  text-align: center;
 }

 .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ff9a55;
   }

   .img {
    width: 70%;
    height: 70%;
    background-color: transparent;
  }